name: Lint

on:
  pull_request:
    branches:
      - 'main'

jobs:
  lint-api:
    name: Lint (api)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version: 24.1.0
      - uses: pnpm/action-setup@v4
        name: Install pnpm
        with:
          version: 10.23.0
          run_install: false
      - name: Get pnpm store directory
        shell: bash
        run: |
          echo "STORE_PATH=$(pnpm store path --silent)" >> $GITHUB_ENV
      - uses: actions/cache@v3
        name: Setup pnpm cache
        with:
          path: ${{ env.STORE_PATH }}
          key: ${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-store-
      - name: Install Dependencies
        run: pnpm install
      - name: Lint
        run: pnpm --filter @mini-aws-mock/api run lint
      - name: Lint (folders)
        run: pnpm --filter @mini-aws-mock/api run lint:folders
  lint-shared:
    name: Lint (shared)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version: 24.1.0
      - uses: pnpm/action-setup@v4
        name: Install pnpm
        with:
          version: 10.23.0
          run_install: false
      - name: Get pnpm store directory
        shell: bash
        run: |
          echo "STORE_PATH=$(pnpm store path --silent)" >> $GITHUB_ENV
      - uses: actions/cache@v3
        name: Setup pnpm cache
        with:
          path: ${{ env.STORE_PATH }}
          key: ${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-store-
      - name: Install Dependencies
        run: pnpm install
      - name: Lint
        run: pnpm --filter @mini-aws-mock/shared run lint
      - name: Lint (folders)
        run: pnpm --filter @mini-aws-mock/shared run lint:folders
  lint-web:
    name: Lint (web)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version: 24.1.0
      - uses: pnpm/action-setup@v4
        name: Install pnpm
        with:
          version: 10.23.0
          run_install: false
      - name: Get pnpm store directory
        shell: bash
        run: |
          echo "STORE_PATH=$(pnpm store path --silent)" >> $GITHUB_ENV
      - uses: actions/cache@v3
        name: Setup pnpm cache
        with:
          path: ${{ env.STORE_PATH }}
          key: ${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-store-
      - name: Install Dependencies
        run: pnpm install
      - name: Lint
        run: pnpm --filter @mini-aws-mock/web run lint
      - name: Lint (folders)
        run: pnpm --filter @mini-aws-mock/web run lint:folders
