name: Test

on:
  pull_request:
    branches:
      - 'main'

jobs:
  test-api:
    name: Test (api)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version: 24.1.0
      - uses: pnpm/action-setup@v3
        name: Install pnpm
        with:
          version: 10.23.0
          run_install: false
      - name: Get pnpm store directory
        shell: bash
        run: |
          echo "STORE_PATH=$(pnpm store path --silent)" >> $GITHUB_ENV
      - uses: actions/cache@v3
        name: Setup pnpm cache
        with:
          path: ${{ env.STORE_PATH }}
          key: ${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-store-
      - name: Install Dependencies
        run: pnpm install
      - name: Run unit tests (api)
        run: pnpm --filter @mini-aws-mock/api run test:unit
      - name: Run integration tests (api - aws json protocol)
        run: pnpm --filter @mini-aws-mock/api run test:e2e
      - name: Run integration tests (api - aws query protocol)
        run: |
          pnpm --filter @mini-aws-mock/api add --save-dev @aws-sdk/client-sqs@3.445.0
          pnpm --filter @mini-aws-mock/api run test:e2e
